#center {
    
    background-image: linear-gradient(rgb(33, 25, 136),rgb(134, 128, 128),rgba(30, 28, 22, 0.979));
   
  }
  #center1
  {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 67.9%;
    height: 150px; 
  }
  #service
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 31.3%;
    height: 390px; 
  }
  #center2
  {
    background-image: linear-gradient(rgb(41, 42, 41),rgb(208, 198, rgba(93, 181, 199, 0.979)979));
    -webkit-background-clip: text;
   color: transparent;
   text-decoration: underline rgb(146, 185, 64);
  }
#bc1
{
  background-color: orangered;
}
  #texting
  {
    color: rgb(239, 77, 23);
    font-family: cursive;
    font-style: italic;
  }
  #servicebg
  {
    background-image: linear-gradient(rgba(49, 5, 5, 0.97),rgb(241, 145, 71),rgba(242, 206, 63, 0.833));
    -webkit-background-clip: text;
    color: transparent;
  }